

@page "/imaar-services"

@attribute [Authorize(ImaarPermissions.ImaarServices.Default)]
@using Imaar.ImaarServices
@using Imaar.Localization
@using Imaar.Shared
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Components.Web
@using Blazorise
@using Blazorise.Components
@using Blazorise.DataGrid
@using Volo.Abp.BlazoriseUI
@using Volo.Abp.BlazoriseUI.Components
@using Volo.Abp.ObjectMapping
@using Volo.Abp.AspNetCore.Components.Messages
@using Volo.Abp.AspNetCore.Components.Web.Theming.Layout

@using Imaar.Permissions
@using Volo.Abp.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components
@using Volo.Abp.Http.Client
@inherits ImaarComponentBase
@inject IImaarServicesAppService ImaarServicesAppService

@inject IUiMessageService UiMessageService
@inject AbpBlazorMessageLocalizerHelper<ImaarResource> LH
@inject IRemoteServiceConfigurationProvider RemoteServiceConfigurationProvider
@inject NavigationManager NavigationManager

@* ************************* PAGE HEADER ************************* *@
<PageHeader Title="@L["ImaarServices"]" BreadcrumbItems="BreadcrumbItems" Toolbar="Toolbar">

</PageHeader>

@* ************************* SEARCH ************************* *@
<Card>
    <CardBody>
@*//<suite-custom-code-block-1>*@
@*//</suite-custom-code-block-1>*@
        <Row>
            <div class="col-md-8 col-lg-10">
                <div class="mb-3">
                    <Form id="ImaarServiceSearchForm">
                        <Addons>
                            <Addon AddonType="AddonType.Body">
                                <TextEdit @bind-Text="@Filter.FilterText"
                                        Autofocus="true"
                                        Placeholder="@L["Search"]">
                                </TextEdit>
                            </Addon>
                            <Addon AddonType="AddonType.End">
                                <SubmitButton Form="ImaarServiceSearchForm" Clicked="GetImaarServicesAsync">
                                    <Icon Name="IconName.Search" Class="me-1"></Icon>@L["Search"]
                                </SubmitButton>
                            </Addon>
                        </Addons>
                    </Form>
                </div>
            </div>
                
                   <div class="col-md-4 col-lg-2">
            <div class="mb-3">
               <Button Color="Color.Primary" Outline Style="width:100%" id="AdvancedFilterSectionToggler"
                         Clicked="@(() => ShowAdvancedFilters = !ShowAdvancedFilters)">@L["Filters"]
                         <i aria-hidden="true" class="fa ms-1 @(!ShowAdvancedFilters ? "fa-angle-down" : "fa-angle-up")"></i>
               </Button>
            </div>
       </div>
        
        <div style="display: @(!ShowAdvancedFilters ? "none" : "block")"  class="mt-3">
            <Row>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["Title"]</FieldLabel>
                        <TextEdit Text="@Filter.Title" TextChanged="@OnTitleChangedAsync" />                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["Description"]</FieldLabel>
                        <TextEdit Text="@Filter.Description" TextChanged="@OnDescriptionChangedAsync" />                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["ServiceLocation"]</FieldLabel>
                        <TextEdit Text="@Filter.ServiceLocation" TextChanged="@OnServiceLocationChangedAsync" />                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["ServiceNumber"]</FieldLabel>
                        <TextEdit Text="@Filter.ServiceNumber" TextChanged="@OnServiceNumberChangedAsync" />                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["MinDateOfPublish"]</FieldLabel>
                        <DateEdit TValue="DateOnly?"
          Date="@Filter.DateOfPublishMin"
          DateChanged="@OnDateOfPublishMinChangedAsync"
          Placeholder="@string.Empty" />                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["MaxDateOfPublish"]</FieldLabel>
                        <DateEdit TValue="DateOnly?"
          Date="@Filter.DateOfPublishMax"
          DateChanged="@OnDateOfPublishMaxChangedAsync"
          Placeholder="@string.Empty" />                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["MinPrice"]</FieldLabel>
                        <NumericEdit TValue="int?" 
             Value="@Filter.PriceMin"
             ValueChanged="@OnPriceMinChangedAsync" />                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["MaxPrice"]</FieldLabel>
                        <NumericEdit TValue="int?" 
             Value="@Filter.PriceMax"
             ValueChanged="@OnPriceMaxChangedAsync" />                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["Latitude"]</FieldLabel>
                        <TextEdit Text="@Filter.Latitude" TextChanged="@OnLatitudeChangedAsync" />                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["Longitude"]</FieldLabel>
                        <TextEdit Text="@Filter.Longitude" TextChanged="@OnLongitudeChangedAsync" />                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["PhoneNumber"]</FieldLabel>
                        <TextEdit Text="@Filter.PhoneNumber" TextChanged="@OnPhoneNumberChangedAsync" />                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["MinViewCounter"]</FieldLabel>
                        <NumericEdit TValue="int?" 
             Value="@Filter.ViewCounterMin"
             ValueChanged="@OnViewCounterMinChangedAsync" />                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["MaxViewCounter"]</FieldLabel>
                        <NumericEdit TValue="int?" 
             Value="@Filter.ViewCounterMax"
             ValueChanged="@OnViewCounterMaxChangedAsync" />                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["MinOrderCounter"]</FieldLabel>
                        <NumericEdit TValue="int?" 
             Value="@Filter.OrderCounterMin"
             ValueChanged="@OnOrderCounterMinChangedAsync" />                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["MaxOrderCounter"]</FieldLabel>
                        <NumericEdit TValue="int?" 
             Value="@Filter.OrderCounterMax"
             ValueChanged="@OnOrderCounterMaxChangedAsync" />                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["ServiceType"]</FieldLabel>
                        <Select TValue="Guid?"
		SelectedValue="@Filter.ServiceTypeId"
		SelectedValueChanged="@OnServiceTypeIdChangedAsync">

<SelectItem></SelectItem>

@foreach(var item in ServiceTypesCollection)
{
	<SelectItem TValue="Guid" Value="@item.Id">
		@item.DisplayName
	</SelectItem>
}

</Select>                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["UserProfile"]</FieldLabel>
                        <Select TValue="Guid?"
		SelectedValue="@Filter.UserProfileId"
		SelectedValueChanged="@OnUserProfileIdChangedAsync">

<SelectItem></SelectItem>

@foreach(var item in UserProfilesCollection)
{
	<SelectItem TValue="Guid" Value="@item.Id">
		@item.DisplayName
	</SelectItem>
}

</Select>                       
                    </Field>
                </Column>
            </Row>
@*//<suite-custom-code-block-2>*@
@*//</suite-custom-code-block-2>*@
        </div>

        </Row>

@*//<suite-custom-code-block-3>*@
@*//</suite-custom-code-block-3>*@
    </CardBody>
</Card>

@* ************************* DATA GRID ************************* *@
<Card>
    <CardBody>        
        @if (SelectedImaarServices.Any())
        {
            <div class="d-flex justify-content-between align-items-center mb-2">
                @if (AllImaarServicesSelected)
                {
                    <p class="lead mb-0">
                        @L["AllItemsAreSelected", TotalCount]
                    </p>
                }
                else
                {
                    <p class="lead mb-0">
                        @if (SelectedImaarServices.Count > 1)
                        {
                            @L["NumberOfItemsOnThisPageAreSelected", SelectedImaarServices.Count]
                        }
                        else
                        {
                            @L["OneItemOnThisPageIsSelected"]
                        }
                    </p>
                }
                    
                <div>
                    @if ((SelectedImaarServices.Count == PageSize || SelectedImaarServices.Count == ImaarServiceList.Count) && TotalCount > SelectedImaarServices.Count)
                    {
                        if (!AllImaarServicesSelected)
                        {
                            <Button Clicked="SelectAllItems" Class="mx-1 btn-outline-secondary">@L["SelectAllItems", TotalCount]</Button>
                        }
                        else
                        {
                            <Button Clicked="ClearSelection" Class="mx-1 btn-outline-secondary">@L["ClearSelection"]</Button>
                        }
                    }
                    
                    <Button Color="Color.Danger" Class="mx-1" Size="Size.Medium" Clicked="DeleteSelectedImaarServicesAsync">
                        <Icon Name="@IconName.Delete" /> @L["Delete"]
                    </Button>
                </div>
            </div>
            
            <hr class="my-1 mx-0"/>
        }
        <DataGrid TItem="ImaarServiceWithNavigationPropertiesDto"
                  Data="ImaarServiceList"
                  
                  SelectionMode="DataGridSelectionMode.Multiple"
                  SelectedRows="SelectedImaarServices"
                  RowSelectable="@((args) => CanDeleteImaarService)"
                  SelectedRowsChanged="SelectedImaarServiceRowsChanged"
                  
                  
                  
                  ReadData="OnDataGridReadAsync"
                  TotalItems="TotalCount"
                  ShowPager="true"
                  Responsive="true"
                  PageSize="PageSize"
                  Class="datagrid-detail">
            <LoadingTemplate>
                <Row Class="w-100 align-items-center" Style="height: 150px;">
                    <Column>
                       <RadarSpinner />
                    </Column>
                </Row>
            </LoadingTemplate>
            <EmptyTemplate>
                <Row Class="w-100 align-items-center" Style="height: 150px;">
                    <Column>
                        <Heading Size="HeadingSize.Is4" TextAlignment="TextAlignment.Center">@L["NoDataAvailable"]</Heading>
                    </Column>
                </Row>
            </EmptyTemplate>   
            <DataGridColumns>
                
                @if (CanDeleteImaarService && ImaarServiceList.Any())
                {
                    <DataGridMultiSelectColumn TItem="ImaarServiceWithNavigationPropertiesDto" DisplayOrder="-1" Width="30px"></DataGridMultiSelectColumn>
                }
                
                <DataGridEntityActionsColumn TItem="ImaarServiceWithNavigationPropertiesDto" @ref="@EntityActionsColumn">
                    <DisplayTemplate>
                        <EntityActions TItem="ImaarServiceWithNavigationPropertiesDto" EntityActionsColumn="@EntityActionsColumn">
                            <EntityAction TItem="ImaarServiceWithNavigationPropertiesDto"
                                          Visible="@CanEditImaarService"
                                          Clicked="async () => await OpenEditImaarServiceModalAsync(context)"
                                          Text="@L["Edit"]"></EntityAction>
                            <EntityAction TItem="ImaarServiceWithNavigationPropertiesDto"
                                          Visible="@CanDeleteImaarService"
                                          Clicked="() => DeleteImaarServiceAsync(context)"
                                          ConfirmationMessage="@(()=> L["DeleteConfirmationMessage"])"
                                          Text="@L["Delete"]"></EntityAction>
@*//<suite-custom-code-block-4>*@
@*//</suite-custom-code-block-4>*@
                        </EntityActions>
                    </DisplayTemplate>
                </DataGridEntityActionsColumn>
               
              <DataGridColumn TItem="ImaarServiceWithNavigationPropertiesDto"
                      Field="ImaarService.Title"
                      Caption="@L["Title"]">
              </DataGridColumn>

              <DataGridColumn TItem="ImaarServiceWithNavigationPropertiesDto"
                      Field="ImaarService.ServiceLocation"
                      Caption="@L["ServiceLocation"]">
              </DataGridColumn>

              <DataGridColumn TItem="ImaarServiceWithNavigationPropertiesDto"
                      Field="ImaarService.ServiceNumber"
                      Caption="@L["ServiceNumber"]">
              </DataGridColumn>

              <DataGridColumn TItem="ImaarServiceWithNavigationPropertiesDto"
                      Field="ImaarService.DateOfPublish"
                      Caption="@L["DateOfPublish"]">
              </DataGridColumn>

              <DataGridColumn TItem="ImaarServiceWithNavigationPropertiesDto"
                      Field="ImaarService.Price"
                      Caption="@L["Price"]">
              </DataGridColumn>

              <DataGridColumn TItem="ImaarServiceWithNavigationPropertiesDto"
                      Field="ImaarService.PhoneNumber"
                      Caption="@L["PhoneNumber"]">
              </DataGridColumn>

              <DataGridColumn TItem="ImaarServiceWithNavigationPropertiesDto"
                      Field="ImaarService.ViewCounter"
                      Caption="@L["ViewCounter"]">
              </DataGridColumn>

              <DataGridColumn TItem="ImaarServiceWithNavigationPropertiesDto"
                      Field="ImaarService.OrderCounter"
                      Caption="@L["OrderCounter"]">
              </DataGridColumn>

              <DataGridColumn TItem="ImaarServiceWithNavigationPropertiesDto"
                      Field="ServiceType.Title"
                      Caption="@L["ServiceType"]">
              </DataGridColumn>

              <DataGridColumn TItem="ImaarServiceWithNavigationPropertiesDto"
                      Field="UserProfile.SecurityNumber"
                      Caption="@L["UserProfile"]">
              </DataGridColumn>

            </DataGridColumns>
            
            
        </DataGrid>
    </CardBody>
</Card>

@* ************************* CREATE MODAL ************************* *@
<Modal @ref="CreateImaarServiceModal" Closing="@CreateImaarServiceModal.CancelClosingModalWhenFocusLost">
    <ModalContent Centered="true">
@*//<suite-custom-code-block-5>*@
@*//</suite-custom-code-block-5>*@
        <Form id="CreateImaarServiceForm">
            <ModalHeader>
                <ModalTitle>@L["NewImaarService"]</ModalTitle>
                <CloseButton Clicked="CloseCreateImaarServiceModalAsync" />
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@NewImaarServiceValidations"
                            Mode="ValidationMode.Auto"
                            Model="@NewImaarService"
                            ValidateOnLoad="false">
                    
                    
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Title"] *</FieldLabel>
                            <TextEdit @bind-Text="@NewImaarService.Title"  >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Description"] *</FieldLabel>
                            <MemoEdit @bind-Text="@NewImaarService.Description"  >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </MemoEdit>
                        </Field>
                    </Validation>


                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["ServiceLocation"] *</FieldLabel>
                            <TextEdit @bind-Text="@NewImaarService.ServiceLocation"  >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["ServiceNumber"] *</FieldLabel>
                            <TextEdit @bind-Text="@NewImaarService.ServiceNumber"  >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["DateOfPublish"]</FieldLabel>
                            <DateEdit TValue="DateOnly" InputMode="DateInputMode.Date" @bind-Date="@NewImaarService.DateOfPublish" >
                               <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </DateEdit>
                        </Field>
                    </Validation>


                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Price"]</FieldLabel>
                            <NumericPicker TValue="int" @bind-Value="@NewImaarService.Price"  Decimals="0" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                             </NumericPicker>
                        </Field>
                     </Validation>


                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Latitude"]</FieldLabel>
                            <TextEdit @bind-Text="@NewImaarService.Latitude"  >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Longitude"]</FieldLabel>
                            <TextEdit @bind-Text="@NewImaarService.Longitude"  >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["PhoneNumber"] *</FieldLabel>
                            <TextEdit @bind-Text="@NewImaarService.PhoneNumber"  >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["ViewCounter"]</FieldLabel>
                            <NumericPicker TValue="int" @bind-Value="@NewImaarService.ViewCounter"  Decimals="0" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                             </NumericPicker>
                        </Field>
                     </Validation>


                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["OrderCounter"]</FieldLabel>
                            <NumericPicker TValue="int" @bind-Value="@NewImaarService.OrderCounter"  Decimals="0" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                             </NumericPicker>
                        </Field>
                     </Validation>


                    <Field>
                        <FieldLabel>@L["ServiceType"]</FieldLabel>
                        <Select TValue="Guid" @bind-SelectedValue="@NewImaarService.ServiceTypeId">
                            @foreach (var serviceType in ServiceTypesCollection)
                            {
                                <SelectItem TValue="Guid" Value="@(serviceType.Id)">
                                    @(serviceType.DisplayName)
                                </SelectItem>
                            }
                        </Select>
                    </Field>


                    <Field>
                        <FieldLabel>@L["UserProfile"]</FieldLabel>
                        <Select TValue="Guid" @bind-SelectedValue="@NewImaarService.UserProfileId">
                            @foreach (var userProfile in UserProfilesCollection)
                            {
                                <SelectItem TValue="Guid" Value="@(userProfile.Id)">
                                    @(userProfile.DisplayName)
                                </SelectItem>
                            }
                        </Select>
                    </Field>


                    
                    
                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseCreateImaarServiceModalAsync">
                    @L["Cancel"]
                </Button>
                <SubmitButton Form="CreateImaarServiceForm" Clicked="CreateImaarServiceAsync"/>
@*//<suite-custom-code-block-6>*@
@*//</suite-custom-code-block-6>*@
            </ModalFooter>
        </Form>
@*//<suite-custom-code-block-7>*@
@*//</suite-custom-code-block-7>*@
    </ModalContent>
</Modal>

@* ************************* EDIT MODAL ************************* *@
<Modal @ref="EditImaarServiceModal" Closing="@EditImaarServiceModal.CancelClosingModalWhenFocusLost">
    <ModalContent Centered="true">
@*//<suite-custom-code-block-8>*@
@*//</suite-custom-code-block-8>*@
        <Form id="EditImaarServiceForm">
            <ModalHeader>
                <ModalTitle>@L["Update"]</ModalTitle>
                <CloseButton Clicked="CloseEditImaarServiceModalAsync" />
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@EditingImaarServiceValidations"
                            Mode="ValidationMode.Auto"
                            Model="@EditingImaarService"
                            ValidateOnLoad="false">
                    
                    
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Title"] *</FieldLabel>
                            <TextEdit @bind-Text="@EditingImaarService.Title"  >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Description"] *</FieldLabel>
                            <MemoEdit @bind-Text="@EditingImaarService.Description"  >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </MemoEdit>
                        </Field>
                    </Validation>


                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["ServiceLocation"] *</FieldLabel>
                            <TextEdit @bind-Text="@EditingImaarService.ServiceLocation"  >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["ServiceNumber"] *</FieldLabel>
                            <TextEdit @bind-Text="@EditingImaarService.ServiceNumber"  >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["DateOfPublish"]</FieldLabel>
                            <DateEdit TValue="DateOnly" InputMode="DateInputMode.Date" @bind-Date="@EditingImaarService.DateOfPublish" >
                               <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </DateEdit>
                        </Field>
                    </Validation>


                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Price"]</FieldLabel>
                            <NumericPicker TValue="int" @bind-Value="@EditingImaarService.Price"  Decimals="0" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                             </NumericPicker>
                        </Field>
                     </Validation>


                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Latitude"]</FieldLabel>
                            <TextEdit @bind-Text="@EditingImaarService.Latitude"  >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Longitude"]</FieldLabel>
                            <TextEdit @bind-Text="@EditingImaarService.Longitude"  >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["PhoneNumber"] *</FieldLabel>
                            <TextEdit @bind-Text="@EditingImaarService.PhoneNumber"  >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["ViewCounter"]</FieldLabel>
                            <NumericPicker TValue="int" @bind-Value="@EditingImaarService.ViewCounter"  Decimals="0" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                             </NumericPicker>
                        </Field>
                     </Validation>


                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["OrderCounter"]</FieldLabel>
                            <NumericPicker TValue="int" @bind-Value="@EditingImaarService.OrderCounter"  Decimals="0" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                             </NumericPicker>
                        </Field>
                     </Validation>


                    <Field>
                        <FieldLabel>@L["ServiceType"]</FieldLabel>
                        <Select TValue="Guid" @bind-SelectedValue="@EditingImaarService.ServiceTypeId">
                            @foreach (var serviceType in ServiceTypesCollection)
                            {
                                <SelectItem TValue="Guid" Value="@(serviceType.Id)">
                                    @(serviceType.DisplayName)
                                </SelectItem>
                            }
                        </Select>
                    </Field>


                    <Field>
                        <FieldLabel>@L["UserProfile"]</FieldLabel>
                        <Select TValue="Guid" @bind-SelectedValue="@EditingImaarService.UserProfileId">
                            @foreach (var userProfile in UserProfilesCollection)
                            {
                                <SelectItem TValue="Guid" Value="@(userProfile.Id)">
                                    @(userProfile.DisplayName)
                                </SelectItem>
                            }
                        </Select>
                    </Field>


                    
                    
                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseEditImaarServiceModalAsync">
                    @L["Cancel"]
                </Button>
                <SubmitButton Form="EditImaarServiceForm" Clicked="UpdateImaarServiceAsync" />
@*//<suite-custom-code-block-9>*@
@*//</suite-custom-code-block-9>*@
            </ModalFooter>
        </Form>
@*//<suite-custom-code-block-10>*@
@*//</suite-custom-code-block-10>*@
    </ModalContent>
</Modal>

