

@page "/service-evaluations"

@attribute [Authorize(ImaarPermissions.ServiceEvaluations.Default)]
@using Imaar.ServiceEvaluations
@using Imaar.Localization
@using Imaar.Shared
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Components.Web
@using Blazorise
@using Blazorise.Components
@using Blazorise.DataGrid
@using Volo.Abp.BlazoriseUI
@using Volo.Abp.BlazoriseUI.Components
@using Volo.Abp.ObjectMapping
@using Volo.Abp.AspNetCore.Components.Messages
@using Volo.Abp.AspNetCore.Components.Web.Theming.Layout

@using Imaar.Permissions
@using Volo.Abp.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components
@using Volo.Abp.Http.Client
@inherits ImaarComponentBase
@inject IServiceEvaluationsAppService ServiceEvaluationsAppService

@inject IUiMessageService UiMessageService
@inject AbpBlazorMessageLocalizerHelper<ImaarResource> LH
@inject IRemoteServiceConfigurationProvider RemoteServiceConfigurationProvider
@inject NavigationManager NavigationManager

@* ************************* PAGE HEADER ************************* *@
<PageHeader Title="@L["ServiceEvaluations"]" BreadcrumbItems="BreadcrumbItems" Toolbar="Toolbar">

</PageHeader>

@* ************************* SEARCH ************************* *@
<Card>
    <CardBody>
@*//<suite-custom-code-block-1>*@
@*//</suite-custom-code-block-1>*@
        <Row>
            <div class="col-md-8 col-lg-10">
                <div class="mb-3">
                    <Form id="ServiceEvaluationSearchForm">
                        <Addons>
                            <Addon AddonType="AddonType.Body">
                                <TextEdit @bind-Text="@Filter.FilterText"
                                        Autofocus="true"
                                        Placeholder="@L["Search"]">
                                </TextEdit>
                            </Addon>
                            <Addon AddonType="AddonType.End">
                                <SubmitButton Form="ServiceEvaluationSearchForm" Clicked="GetServiceEvaluationsAsync">
                                    <Icon Name="IconName.Search" Class="me-1"></Icon>@L["Search"]
                                </SubmitButton>
                            </Addon>
                        </Addons>
                    </Form>
                </div>
            </div>
                
                   <div class="col-md-4 col-lg-2">
            <div class="mb-3">
               <Button Color="Color.Primary" Outline Style="width:100%" id="AdvancedFilterSectionToggler"
                         Clicked="@(() => ShowAdvancedFilters = !ShowAdvancedFilters)">@L["Filters"]
                         <i aria-hidden="true" class="fa ms-1 @(!ShowAdvancedFilters ? "fa-angle-down" : "fa-angle-up")"></i>
               </Button>
            </div>
       </div>
        
        <div style="display: @(!ShowAdvancedFilters ? "none" : "block")"  class="mt-3">
            <Row>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["MinRate"]</FieldLabel>
                        <NumericEdit TValue="int?" 
             Value="@Filter.RateMin"
             ValueChanged="@OnRateMinChangedAsync" />                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["MaxRate"]</FieldLabel>
                        <NumericEdit TValue="int?" 
             Value="@Filter.RateMax"
             ValueChanged="@OnRateMaxChangedAsync" />                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["UserProfile"]</FieldLabel>
                        <Select TValue="Guid?"
		SelectedValue="@Filter.EvaluatorId"
		SelectedValueChanged="@OnEvaluatorIdChangedAsync">

<SelectItem></SelectItem>

@foreach(var item in UserProfilesCollection)
{
	<SelectItem TValue="Guid" Value="@item.Id">
		@item.DisplayName
	</SelectItem>
}

</Select>                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["ImaarService"]</FieldLabel>
                        <Select TValue="Guid?"
		SelectedValue="@Filter.ImaarServiceId"
		SelectedValueChanged="@OnImaarServiceIdChangedAsync">

<SelectItem></SelectItem>

@foreach(var item in ImaarServicesCollection)
{
	<SelectItem TValue="Guid" Value="@item.Id">
		@item.DisplayName
	</SelectItem>
}

</Select>                       
                    </Field>
                </Column>
            </Row>
@*//<suite-custom-code-block-2>*@
@*//</suite-custom-code-block-2>*@
        </div>

        </Row>

@*//<suite-custom-code-block-3>*@
@*//</suite-custom-code-block-3>*@
    </CardBody>
</Card>

@* ************************* DATA GRID ************************* *@
<Card>
    <CardBody>        
        @if (SelectedServiceEvaluations.Any())
        {
            <div class="d-flex justify-content-between align-items-center mb-2">
                @if (AllServiceEvaluationsSelected)
                {
                    <p class="lead mb-0">
                        @L["AllItemsAreSelected", TotalCount]
                    </p>
                }
                else
                {
                    <p class="lead mb-0">
                        @if (SelectedServiceEvaluations.Count > 1)
                        {
                            @L["NumberOfItemsOnThisPageAreSelected", SelectedServiceEvaluations.Count]
                        }
                        else
                        {
                            @L["OneItemOnThisPageIsSelected"]
                        }
                    </p>
                }
                    
                <div>
                    @if ((SelectedServiceEvaluations.Count == PageSize || SelectedServiceEvaluations.Count == ServiceEvaluationList.Count) && TotalCount > SelectedServiceEvaluations.Count)
                    {
                        if (!AllServiceEvaluationsSelected)
                        {
                            <Button Clicked="SelectAllItems" Class="mx-1 btn-outline-secondary">@L["SelectAllItems", TotalCount]</Button>
                        }
                        else
                        {
                            <Button Clicked="ClearSelection" Class="mx-1 btn-outline-secondary">@L["ClearSelection"]</Button>
                        }
                    }
                    
                    <Button Color="Color.Danger" Class="mx-1" Size="Size.Medium" Clicked="DeleteSelectedServiceEvaluationsAsync">
                        <Icon Name="@IconName.Delete" /> @L["Delete"]
                    </Button>
                </div>
            </div>
            
            <hr class="my-1 mx-0"/>
        }
        <DataGrid TItem="ServiceEvaluationWithNavigationPropertiesDto"
                  Data="ServiceEvaluationList"
                  
                  SelectionMode="DataGridSelectionMode.Multiple"
                  SelectedRows="SelectedServiceEvaluations"
                  RowSelectable="@((args) => CanDeleteServiceEvaluation)"
                  SelectedRowsChanged="SelectedServiceEvaluationRowsChanged"
                  
                  
                  
                  ReadData="OnDataGridReadAsync"
                  TotalItems="TotalCount"
                  ShowPager="true"
                  Responsive="true"
                  PageSize="PageSize"
                  Class="datagrid-detail">
            <LoadingTemplate>
                <Row Class="w-100 align-items-center" Style="height: 150px;">
                    <Column>
                       <RadarSpinner />
                    </Column>
                </Row>
            </LoadingTemplate>
            <EmptyTemplate>
                <Row Class="w-100 align-items-center" Style="height: 150px;">
                    <Column>
                        <Heading Size="HeadingSize.Is4" TextAlignment="TextAlignment.Center">@L["NoDataAvailable"]</Heading>
                    </Column>
                </Row>
            </EmptyTemplate>   
            <DataGridColumns>
                
                @if (CanDeleteServiceEvaluation && ServiceEvaluationList.Any())
                {
                    <DataGridMultiSelectColumn TItem="ServiceEvaluationWithNavigationPropertiesDto" DisplayOrder="-1" Width="30px"></DataGridMultiSelectColumn>
                }
                
                <DataGridEntityActionsColumn TItem="ServiceEvaluationWithNavigationPropertiesDto" @ref="@EntityActionsColumn">
                    <DisplayTemplate>
                        <EntityActions TItem="ServiceEvaluationWithNavigationPropertiesDto" EntityActionsColumn="@EntityActionsColumn">
                            <EntityAction TItem="ServiceEvaluationWithNavigationPropertiesDto"
                                          Visible="@CanEditServiceEvaluation"
                                          Clicked="async () => await OpenEditServiceEvaluationModalAsync(context)"
                                          Text="@L["Edit"]"></EntityAction>
                            <EntityAction TItem="ServiceEvaluationWithNavigationPropertiesDto"
                                          Visible="@CanDeleteServiceEvaluation"
                                          Clicked="() => DeleteServiceEvaluationAsync(context)"
                                          ConfirmationMessage="@(()=> L["DeleteConfirmationMessage"])"
                                          Text="@L["Delete"]"></EntityAction>
@*//<suite-custom-code-block-4>*@
@*//</suite-custom-code-block-4>*@
                        </EntityActions>
                    </DisplayTemplate>
                </DataGridEntityActionsColumn>
               
              <DataGridColumn TItem="ServiceEvaluationWithNavigationPropertiesDto"
                      Field="ServiceEvaluation.Rate"
                      Caption="@L["Rate"]">
              </DataGridColumn>

              <DataGridColumn TItem="ServiceEvaluationWithNavigationPropertiesDto"
                      Field="Evaluator.SecurityNumber"
                      Caption="@L["Evaluator"]">
              </DataGridColumn>

              <DataGridColumn TItem="ServiceEvaluationWithNavigationPropertiesDto"
                      Field="ImaarService.Title"
                      Caption="@L["ImaarService"]">
              </DataGridColumn>

            </DataGridColumns>
            
            
        </DataGrid>
    </CardBody>
</Card>

@* ************************* CREATE MODAL ************************* *@
<Modal @ref="CreateServiceEvaluationModal" Closing="@CreateServiceEvaluationModal.CancelClosingModalWhenFocusLost">
    <ModalContent Centered="true">
@*//<suite-custom-code-block-5>*@
@*//</suite-custom-code-block-5>*@
        <Form id="CreateServiceEvaluationForm">
            <ModalHeader>
                <ModalTitle>@L["NewServiceEvaluation"]</ModalTitle>
                <CloseButton Clicked="CloseCreateServiceEvaluationModalAsync" />
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@NewServiceEvaluationValidations"
                            Mode="ValidationMode.Auto"
                            Model="@NewServiceEvaluation"
                            ValidateOnLoad="false">
                    
                    
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Rate"]</FieldLabel>
                            <NumericPicker TValue="int" @bind-Value="@NewServiceEvaluation.Rate"  Decimals="0" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                             </NumericPicker>
                        </Field>
                     </Validation>


                    <Field>
                        <FieldLabel>@L["UserProfile"]</FieldLabel>
                        <Select TValue="Guid" @bind-SelectedValue="@NewServiceEvaluation.EvaluatorId">
                            @foreach (var userProfile in UserProfilesCollection)
                            {
                                <SelectItem TValue="Guid" Value="@(userProfile.Id)">
                                    @(userProfile.DisplayName)
                                </SelectItem>
                            }
                        </Select>
                    </Field>


                    <Field>
                        <FieldLabel>@L["ImaarService"]</FieldLabel>
                        <Select TValue="Guid" @bind-SelectedValue="@NewServiceEvaluation.ImaarServiceId">
                            @foreach (var imaarService in ImaarServicesCollection)
                            {
                                <SelectItem TValue="Guid" Value="@(imaarService.Id)">
                                    @(imaarService.DisplayName)
                                </SelectItem>
                            }
                        </Select>
                    </Field>


                    
                    
                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseCreateServiceEvaluationModalAsync">
                    @L["Cancel"]
                </Button>
                <SubmitButton Form="CreateServiceEvaluationForm" Clicked="CreateServiceEvaluationAsync"/>
@*//<suite-custom-code-block-6>*@
@*//</suite-custom-code-block-6>*@
            </ModalFooter>
        </Form>
@*//<suite-custom-code-block-7>*@
@*//</suite-custom-code-block-7>*@
    </ModalContent>
</Modal>

@* ************************* EDIT MODAL ************************* *@
<Modal @ref="EditServiceEvaluationModal" Closing="@EditServiceEvaluationModal.CancelClosingModalWhenFocusLost">
    <ModalContent Centered="true">
@*//<suite-custom-code-block-8>*@
@*//</suite-custom-code-block-8>*@
        <Form id="EditServiceEvaluationForm">
            <ModalHeader>
                <ModalTitle>@L["Update"]</ModalTitle>
                <CloseButton Clicked="CloseEditServiceEvaluationModalAsync" />
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@EditingServiceEvaluationValidations"
                            Mode="ValidationMode.Auto"
                            Model="@EditingServiceEvaluation"
                            ValidateOnLoad="false">
                    
                    
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Rate"]</FieldLabel>
                            <NumericPicker TValue="int" @bind-Value="@EditingServiceEvaluation.Rate"  Decimals="0" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                             </NumericPicker>
                        </Field>
                     </Validation>


                    <Field>
                        <FieldLabel>@L["UserProfile"]</FieldLabel>
                        <Select TValue="Guid" @bind-SelectedValue="@EditingServiceEvaluation.EvaluatorId">
                            @foreach (var userProfile in UserProfilesCollection)
                            {
                                <SelectItem TValue="Guid" Value="@(userProfile.Id)">
                                    @(userProfile.DisplayName)
                                </SelectItem>
                            }
                        </Select>
                    </Field>


                    <Field>
                        <FieldLabel>@L["ImaarService"]</FieldLabel>
                        <Select TValue="Guid" @bind-SelectedValue="@EditingServiceEvaluation.ImaarServiceId">
                            @foreach (var imaarService in ImaarServicesCollection)
                            {
                                <SelectItem TValue="Guid" Value="@(imaarService.Id)">
                                    @(imaarService.DisplayName)
                                </SelectItem>
                            }
                        </Select>
                    </Field>


                    
                    
                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseEditServiceEvaluationModalAsync">
                    @L["Cancel"]
                </Button>
                <SubmitButton Form="EditServiceEvaluationForm" Clicked="UpdateServiceEvaluationAsync" />
@*//<suite-custom-code-block-9>*@
@*//</suite-custom-code-block-9>*@
            </ModalFooter>
        </Form>
@*//<suite-custom-code-block-10>*@
@*//</suite-custom-code-block-10>*@
    </ModalContent>
</Modal>

